/* 
    ----- Artist Quote Styles ----- 
*/

.cord-artist,
.left-button-artist,
.left-click-artist,
.middle-button-artist,
.palm-plate-artist,
.right-button-artist,
.right-click-artist,
.right-support-artist,
.scroll-wheel-artist {
    opacity: 0%;
    transition: opacity 1s;
    float: right;
    position: relative;
    width: 400px;
    height: 150px;
    background: rgba(250,250,250,0.1);
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    white-space: normal;
    transform: translateY(-100px);

}
.cord-artist h1,
.left-button-artist h1,
.left-click-artist h1,
.middle-button-artist h1,
.palm-plate-artist h1,
.right-button-artist h1,
.right-click-artist h1,
.right-support-artist h1,
.scroll-wheel-artist h1{
    float: right;
    font-size: 25px;
    top: -460px;
    right: -100px;
    position: relative;
}
.cord-artist p,
.left-button-artist p,
.left-click-artist p,
.middle-button-artist p,
.palm-plate-artist p,
.right-button-artist p,
.right-click-artist p,
.right-support-artist p,
.scroll-wheel-artist p{
    float: right;
    width: 290px;
    font-size: 16px;
    top: -470px;
    right: 5px;
    position: relative;
}
.cord-artist img,
.left-button-artist img,
.left-click-artist img,
.middle-button-artist img,
.palm-plate-artist img,
.right-button-artist img,
.right-click-artist img,
.right-support-artist img,
.scroll-wheel-artist img{
    position: relative !important;
    top: -100px !important;
    float: left;
    width: 400px;
    z-index:  50;
    left: -160px;
}
.cord-artist {
    top: -2500px;
    right: 800px;
}
.left-button-artist {
    top: -2520px;
    right: 1000px;
    
}
.left-click-artist {
    top: -3300px;
    right: 900px;
    
}
.middle-button-artist {
    top: -3500px;
    right: -300px;
    
}
.palm-plate-artist {
    top: -3300px;
    right: 800px;
    
}
.right-button-artist {
    top: -3600px;
    right: -300px;
    
}
.right-click-artist {
    top: -4450px;
    right: 0px;
    
}
.right-support-artist {
    top: -4700px;
    right: 200px;
    
}
.scroll-wheel-artist {
    top: -5050px;
    right: 900px;

}







/* 
    ----- Main Mouse Styles ----- 
*/
@keyframes loadin {
    0%{
        opacity: 0;
        transform: translateY(-220px);
    }
    100%{
        opacity: 1;
        transform: translateY(-90px);

    }
}


.mouse {
    transform: translateY(-90px);
    animation: loadin;
    animation-iteration-count: 1;
    animation-duration: 5s;
}


.mouse img {
    display: block;
    position: absolute;
    transform: scale(0.3);
}
.mouse-base img {
    top: -145px;
    right: 460px;
}


/* 
    ----- Left Button ----- 
*/

.left-button img {
    position: relative;
    top: -2199px;
    right: -1190px;
    cursor: pointer;
    transition: transform 1s;
}

.left-button img:hover {
    filter: drop-shadow(0 0 10px white);
}

#leftbuttonbtn {
    display: none;
}

#leftbuttonbtn:checked + label > img {
    transform: scale(0.33);
}
#leftbuttonbtn:checked + label > .left-button-artist {
    opacity: 100%;
    transition: all 1s;
}

/* 
    ----- Left Click ----- 
*/

.left-click img {
    position: relative;
    top: -2745px;
    right: -1150px;
    cursor: pointer;
    transition: transform 1s;
}

.left-click img:hover {
    filter: drop-shadow(0 0 10px white);
}

#leftclickbtn {
    display: none;
}

#leftclickbtn:checked + label > img {
    transform: scale(0.33);
}
#leftclickbtn:checked + label > .left-click-artist {
    opacity: 100%;
    transition: all 1s;
}

/* 
    ----- Mouse Cord ----- 
*/

.cord img{
    position: relative;
    top: -1323px;
    right: -1048px;
    cursor: pointer;
    transition: transform 1s, top 1s;
  }

#cordbtn {
    display: none;
}

#cordbtn:checked + label > img {
  transform: scale(0.33);
  top: -1355px;
}
#cordbtn:checked + label > .cord-artist {
    opacity: 100%;
    transition: all 1s;
}
.cord img:hover {
  filter: drop-shadow(0 0 10px white);
}


/*
    ----- Middle Button -----
*/

.middle-button img {
    position: relative;
    top: -3069px;
    right: -1255px;
    z-index: 2;
    cursor: pointer;
    transition: transform 1s;
}

.middle-button img:hover {
    filter: drop-shadow(0 0 10px white);
}

#middlebuttonbtn {
    display: none;
}

#middlebuttonbtn:checked + label > img {
    transform: scale(0.33);
}
#middlebuttonbtn:checked + label > .middle-button-artist {
    opacity: 100%;
    transition: all 1s;
}


/*
    ----- Palm Plate -----
*/

.palm-plate img {
    position: relative;
    top: -3244px;
    right: -1062px;
    z-index: 1;
    cursor: pointer;
    transition: transform 1s;
}

.palm-plate img:hover {
    filter: drop-shadow(0 0 10px white);
}

#palmplatebtn {
    display: none;
}

#palmplatebtn:checked + label > img {
    transform: scale(0.33);
}
#palmplatebtn:checked + label > .palm-plate-artist {
    opacity: 100%;
    transition: all 1s;
}

/*
    ----- Right Button -----
*/

.right-button img {
    position: relative;
    top: -3625px;
    right: -1364px;
    z-index: 2;
    cursor: pointer;
    transition: transform 1s;
}

.right-button img:hover {
    filter: drop-shadow(0 0 10px white);
}

#rightbuttonbtn {
    display: none;
}

#rightbuttonbtn:checked + label > img {
    transform: scale(0.33);
}
#rightbuttonbtn:checked + label > .right-button-artist {
    opacity: 100%;
    transition: all 1s;
}

/*
    ----- Right Click -----
*/

.right-click img {
    position: relative;
    top: -3985px;
    right: -1215px;
    z-index: 1;
    cursor: pointer;
    transition: transform 1s;
}

.right-click img:hover {
    filter: drop-shadow(0 0 10px white);
}

#rightclickbtn {
    display: none;
}

#rightclickbtn:checked + label > img {
    transform: scale(0.33);
}
#rightclickbtn:checked + label > .right-click-artist {
    opacity: 100%;
    transition: all 1s;
}


/*
    ----- Right Support -----
*/

.right-support img {
    position: relative;
    top: -4580px;
    right: -1270px;
    z-index: 0;
    cursor: pointer;
    transition: transform 1s;
}

.right-support img:hover {
    filter: drop-shadow(0 0 10px white);
}

#rightsupportbtn {
    display: none;
}

#rightsupportbtn:checked + label > img {
    transform: scale(0.33);
}
#rightsupportbtn:checked + label > .right-support-artist {
    opacity: 100%;
    transition: all 1s;
}


/*
    ----- Scroll Wheel -----
*/

.scroll-wheel img {
    position: relative;
    top: -5084px;
    right: -1243px;
    z-index: 2;
    cursor: pointer;
    transition: transform 1s;
}

.scroll-wheel img:hover {
    filter: drop-shadow(0 0 10px white);
}

#scrollwheelbtn {
    display: none;
}

#scrollwheelbtn:checked + label > img {
    transform: scale(0.33);
}
#scrollwheelbtn:checked + label > .scroll-wheel-artist {
    opacity: 100%;
    transition: all 1s;
}