/* 
	----- Main Mouse Styles ----- 
*/

.mouse img {
    display: block;
    position: absolute;
    right: 350px;
    transform: scale(0.3);
}
.mousebase img {
    top: 350px;
}


/* 
	----- Left Button ----- 
*/

.leftbutton img {
    top: 560px;
    right: 656px;
    cursor: pointer;
    transition: transform 1s;
}

.leftbutton img:hover {
    filter: drop-shadow(0 0 10px white);
}

#leftbuttonbtn {
        display: none;
}

#leftbuttonbtn:checked + label > img {
    transform: scale(0.33);
}


/* 
	----- Left Click ----- 
*/

.leftclick img {
    top: 420px;
    right: 550px;
    cursor: pointer;
    transition: transform 1s;
}

.leftclick img:hover {
    filter: drop-shadow(0 0 10px white);
}

#leftclickbtn {
        display: none;
}

#leftclickbtn:checked + label > img {
    transform: scale(0.33);
}

/* 
	----- Mouse Cord ----- 
*/

.cord img{
  top: -829px;
  right: 232px;
  cursor: pointer;
  transition: transform 1s, top 1s;
  }

#cordbtn {
    display: none;
}

#cordbtn:checked + label > img {
  transform: scale(0.33);
  top: -860px;
}

.cord img:hover {
  filter: drop-shadow(0 0 10px white);
}


/*
	----- Middle Button -----
*/

.middlebutton img {
    top: 697px;
    right: 599.5px;
    z-index: 2;
    cursor: pointer;
    transition: transform 1s;
}

.middlebutton img:hover {
    filter: drop-shadow(0 0 10px white);
}

#middlebuttonbtn {
        display: none;
}

#middlebuttonbtn:checked + label > img {
    transform: scale(0.33);
}


/*
	----- Palm Plate -----
*/

.palmplate img {
    top: 641px;
    right: 389px;
    z-index: 1;
    cursor: pointer;
    transition: transform 1s;
}

.palmplate img:hover {
    filter: drop-shadow(0 0 10px white);
}

#palmplatebtn {
        display: none;
}

#palmplatebtn:checked + label > img {
    transform: scale(0.33);
}

/*
	----- Right Button -----
*/

.rightbutton img {
    top: 665px;
    right: 517px;
    z-index: 2;
    cursor: pointer;
    transition: transform 1s;
}

.rightbutton img:hover {
    filter: drop-shadow(0 0 10px white);
}

#rightbuttonbtn {
        display: none;
}

#rightbuttonbtn:checked + label > img {
    transform: scale(0.33);
}

/*
	----- Right Click -----
*/

.rightclick img {
    top: 415px;
    right: 449px;
    z-index: 1;
    cursor: pointer;
    transition: transform 1s;
}

.rightclick img:hover {
    filter: drop-shadow(0 0 10px white);
}

#rightclickbtn {
        display: none;
}

#rightclickbtn:checked + label > img {
    transform: scale(0.33);
}

/*
	----- Right Support -----
*/

.rightsupport img {
    top: 440px;
    right: 437px;
    z-index: 0;
    cursor: pointer;
    transition: transform 1s;
}

.rightsupport img:hover {
    filter: drop-shadow(0 0 10px white);
}

#rightsupportbtn {
        display: none;
}

#rightsupportbtn:checked + label > img {
    transform: scale(0.33);
}

/*
	----- Scroll Wheel -----
*/

.scrollwheel img {
    top: 606px;
    right: 570px;
    z-index: 2;
    cursor: pointer;
    transition: transform 1s;
}

.scrollwheel img:hover {
    filter: drop-shadow(0 0 10px white);
}

#scrollwheelbtn {
        display: none;
}

#scrollwheelbtn:checked + label > img {
    transform: scale(0.33);
}